body {
    background-color: red;
    color: rgba(255, 255, 255, 0.973);
}

.heading {
    font-size: 22px;
    width: 90%;
}

.name_of_objects,
#result_object_name,
#result_object_accuracy {
    color: lightblue;
}